@charset "UTF-8";

body {
	font-family: 'Dosis';
	background: #343740;
	height: 100%;
	width: 100%;
}

main {
	padding-botton: 4em;
}
h1, h2, h3, legend {
	color: #7c7c7d; 
}

h3, legend {
	text-shadow: 1px 1px 1px black, 0 0 1px white;
}

i {
	font-size: 20px;
}

#servicios thead th:nth-child(3){
	width: 3em;
}

.masaje {
	padding: 0;

}
.masaje a {
	text-decoration: none;
	color: #3b4652;
}

.nav-menu {
	padding: 3px;
	background: #2a2d35;
}

.nav-menu li a {
	font-size: 1.2em;
	color: #f6a821;
}

.masaje h3 {
	font-size: 1.7em;
	margin-top: 30px;

}

#logo {
	width: 2.2em;
	padding-left: 10px;
}

/*Panel Administración*/

.section-panel{
	background:#2a2d35;
}

.div-menu{
	height: 600px;
}

.menu-admin{
	height: 100%;
	
}

.menu-admin a:hover {
	color: #f6a821;	
}

.menu-admin li {
	text-align: center;
	font-family: inherit;
}

.menu-admin li a{
	text-align: center;
	color: #7c7c7d;
	font-family: inherit;
	font-size: 1.3em;
}

.icono-panel {
	color: #7c7c7d;
	font-size: 50px;
	margin-top: 20px;
	text-shadow: 1px 1px 1px black, 0 0 1px white;
}

form {
	color: #f6a821;
	background: #2a2d35;
	margin-top: 2em;
	padding-top: 1em;
	border-radius:1em;
 
-webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.25);
box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.25);
}

.form-control {
	color: #7c7c7d;
	background:	#343740;
	border-color: #343740;
}

.page-item.disabled .page-link, .page-item.active .page-link {
	color: #7c7c7d;
	background:	#343740;
	border-color: #343740;
}

.table, .dataTables_info {
	/* color: #7c7c7d; */	
	color: #f6a821;	
} 

.table-hover tbody tr:hover{
	color: #7c7c7d;;
}

.dataTables_wrapper {
 font-size: 1em;
 background: #2a2d35;
 color: #f6a821;
 padding:15px;
 border-radius:1em;
 
-webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.25);
box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.25);	
}

.page-item.active .page-link {
	background: #2a2d35;
	border-color: #7c7c7d;
}

.head-tabla, .foot-tabla{
	background: #343740;
	color: #7c7c7d;;
}

.btn-add, .btn-edit, .btn-del {
	color: #7c7c7d;
	background: #343740;
	border-color: #343740;
}

.btn-primary:hover {
	color: #343740;
	background: #7c7c7d;
	border-color: #343740;
}

/*Footer*/

footer {
	background: #2a2d35;	
}

footer p {
	color: #7c7c7d;
}

.redes-sociales {
	/* font-size: 2em; */
}

.redes {
	font-size:35px;
	color: #f6a821;
}

@media (min-width: 1200px) {
	:not(#sesiones, #clientes) div.dataTables_wrapper div.dataTables_filter input {
		width: 8em;
	}
	
	#sesiones div.dataTables_wrapper div.dataTables_filter input {
		width: 20em;
	}
	
	
}
